extends layout
block content
  .container
    img(src="https://camo.githubusercontent.com/34a6511fd2e1e1d815ac922464a609f1e40771e7/687474703a2f2f692e696d6775722e636f6d2f5a486d695747782e706e67")
    .link
      input(type="text", name="shortid" placeholder="Tournament id")#shortid
      button.button-primary#go Go
