html
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href="/css/netrunner.css")
    link(rel='stylesheet', href='/css/skeleton.css')
    link(rel='stylesheet', href='/css/normalize.css')
    //- link(rel='stylesheet', href='https://unpkg.com/purecss@0.6.2/build/pure-min.css', integrity='sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/style.css')
    title Monolith - #{title}
  body
    .container
      block content
      footer
        span Built with ❤ by #[a(href='http://mrhudson.yt') MrHudson] - LGPL-3.0 - #[a(href="https://github.com/MrHuds0n/monolith") GitHub]
        a(href="/") Index
