html
  head
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/css/skeleton.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    title Monolith
  body
    block content
    script(src='/js/script.js')
