@import url('https://fonts.googleapis.com/css?family=Roboto');

main-color = #8AAAEB

*, *:before, *:after
  margin 0
  padding 0
  box-sizing border-box

html
  font-size 8pt

body
  min-height 100vh
  display flex
  flex-direction column
  justify-content center
  align-items center
  position relative

.button-primary
  background main-color !important
  border-color main-color !important

.container
  max-width 960px
  margin auto

  display flex
  flex-direction column
  align-items center

table
  padding .5rem

  td
    padding .5rem 2rem
    font-family "Roboto"

    i
      padding-right 1rem
a
  color rgba(main-color, .7)

  &:hover
    color main-color

footer
  font-family "Roboto"
  border-top 2px #ddd dashed
  width 100%
  padding .5rem

  display flex
  flex-direction column
  align-items center
  justify-content center

  position relative
  bottom 0
