@import url('https://fonts.googleapis.com/css?family=Roboto');

main-color = #8AAAEB

*, *:before, *:after
  margin 0
  padding 0
  box-sizing border-box

body
  height 100vh
  display flex
  flex-direction column
  justify-content center
  align-items center

.button-primary
  background main-color !important
  border-color main-color !important

.container
  max-width 960px
  margin auto

  display flex
  flex-direction column
  align-items center

table
  td
    padding .5rem
    font-family "Roboto"
